.footer-container {
  padding-top: 12px;
  padding-bottom: 43px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 71px;
}              

.social {
  display: flex;
  background-color: #f4f7f6;
  width: 100%;
  padding: 31px 0;
  justify-content: center;
}

.social__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 26px;
  height: 100%;
  align-items: center;
}

.social__item {
  height: 20px;
}

.social__item_logo {
  height: 100%;
}

.copyright {
  display: flex;
  font-size: 12px;
  padding-left: 12px;
  color: #999999;
  font-weight: 700;
  justify-content: center;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .footer-container {
    gap: 48px;
  }
}

@media (max-width: 640px) {
  .footer-container {
    padding-top: 5px;
    gap: 47px;
  }
}
